/* adjustments for larger screens */
@media only screen and (min-width: 768px) {
  body > div {
    width: 50%;
    margin: 50px auto auto;
  }
  .carImages, imageSpan {
    min-width: 480px;
    min-height: 360px;
  }
  #about {
    font-size: 2em;
  }
}
/* the car-showcase animation */
@keyframes imageShowCase {
  from {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
/* Styling for the whole page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
  transition: all 3s;
} 
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #F2F2F2;
  color: #F7F7F7;
}
/* TITLE */
h1 {
  background-color: #2E4053;
}
/* car showcase */
#displayCars {
  background-color: #F7F7F7;
  height:50vh;
  margin-top: 50px;
}
.carImages {
  width: 320px;
  height: 240px;
  border: none;
  display: none;
  margin-top: 50px;
}
#carImage1 {
  display: inline;
}
#imageSpan {
  animation: imageShowCase 4s linear 2s infinite alternate;
  overflow: hidden;
}
/* car-buying section */
#buyCars {
  background-color: #F7F7F7;
  margin: auto;
  margin-top: 50px;
  color: #2E4053;
}
#buyCarButton {
  color: white;
  background-color: #2E4053;
  border: none;
  margin-bottom: 10px;
}
/* FAQ section */
#FAQ {
  background-color: #F7F7F7;
  margin: auto;
  margin-top: 50px;
}
h2 {
  text-align: center;
  color: #2E4053;
}
b {
  color: #2E4053;
}
b::after, b::before {
  content: "\a";
  white-space: pre;
}
#FAQ:hover > q {
  display: inline;
}
q {
  display: none;
  color: #2E4053;
  font-family: monospace;
}
/* about section */
#about {
  background-color: #2E4053;
  font-weight: bold;
  position: relative;
  top: 20%;
  color: #F7F7F7;
  margin-top: 50px;
}
/* love section */
#loveImage {
  width: 360px;
  height: 360px;
  opacity: 0;
}
#loveDiv {
  display: none;
  margin-top: 0vh;
  opacity: 0;
}
/* Audio Message */
#loveAudio {
  display: none;
}
#playAudio {
  border: none;
  background-color: lightpink;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2em;
}
#playAudio:focus::after {
  content: "Click This Heart";
  color: red;
  background-color: lightpink;
  font-family: cursive;
}